<template>
    <div class="flex flex-row items-center justify-between cursor-pointer select-none" @click="$emit('click')">
        <div class="flex flex-row items-center justify-start">
            <done-indicator @change="save" :task="task" class="text-xl mr-4"></done-indicator>
            <div>
                <div class="dark:text-white font-bold text-xl transition" :class="task.isDone() ? 'text-grey-darker' : ''">
                    {{ task.title }}
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.info > * {
    flex: 0 0 auto
}
</style>

<script>
import States from '@/assets/js/State'

import DoneIndicator from '@c/done/Indicator'
import TodayIndicator from '@c/today/Indicator'

export default {
    components: { DoneIndicator, TodayIndicator },
    props: {
        task: Object
    },
    data: () => ({
        States
    }),
    methods: {
        save() {
            this.task.save()
        },
    }
}
</script>
