<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>/img/icons/logo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900">
    <link href="https://fonts.googleapis.com/css?family=Lora:400i&display=swap" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <script src="/jquery.min.js"></script>
    <script src="/jquery.actual.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
    <script src="/moment-timezone-with-data.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Ghost</title>
  </head>
  <body class="dark:bg-black">
    <noscript>
      <strong>We're sorry but Ghost doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
