<template>
  <div>
    <div class="py-4 px-6 flex flex-row items-center justify-between lg:py-6 transition" :style="!selectedWorkspace.isInbox() ? gradient : { }" @click="$router.push('/search')">
      <span :class="{ 'text-grey-lighter': !selectedWorkspace.isInbox(), 'text-grey-darker dark:text-grey-light': selectedWorkspace.isInbox() }" class="cursor-pointer select-none mr-2 truncate"><i class="feather icon-search mr-2"></i> Search for a task...</span>
      <div class="flex flex-row items-center text-sm cursor-pointer select-none dark:text-white text-grey" @click.stop="showModal('workspaces-picker', $event)">
        <!-- <i class="feather icon-activity mr-2"></i> 12.342 -->
      </div>
    </div>
  </div>
</template>

<script>
import { hasModals, store } from '@/mixins'
import { theme } from '@/../tailwind.config.js'

import WorkspacesPicker from '@c/workspaces/Picker'

const colors = theme.colors

export default {
  mixins: [ 
    hasModals({ WorkspacesPicker }),
    store({
      getters: {
        selectedWorkspace: 'workspaces/current'
      }
    })
  ],
  computed: {
    isExtended() {
      return !!this.$store.state.auth.user
    },
    gradient() {
      return {
        background: 'linear-gradient(-45deg,' + colors[this.selectedWorkspace.getColor() + '-dark'] + ', ' + colors[this.selectedWorkspace.getColor()] + ')'
      }
    },
    greeting() {
      let result = '';
      const hours = new Date().getHours();
      if (hours > 17 || hours < 5) {
        result += 'Good Evening';
      } else if (hours >= 5 && hours < 10) {
        result += 'Good Morning';
      } else {
        result += 'Hello';
      }
      if(this.$store.state.auth.user) {
        result += ', ' + this.$store.state.auth.user.name.split(' ')[0]
      }
      result += '!';
      return result;
    },
  },
}
</script>
