<template>
  <transition name="opacity-slide-up">
    <div class="h-full">

      <greeting class="rounded-lg m-4 mx-4 overflow-hidden shadow dark:shadow-2xl dark:bg-black-deep border border-grey-light dark:border-none"></greeting>

      <tasks-list :tasks="tasks" @item-click="$router.push({ name: 'Tasks.Detail', params: { id: $event.id } })" class="pb-32 mt-8 mx-2"></tasks-list>

      <!-- Navigation Bar -->
      <navigation-bar>
        <navigation-button class="lg:hidden">
          <router-link to="/tasks/create">
            <i class="feather icon-plus"></i>
          </router-link>
        </navigation-button>
      </navigation-bar>

    </div>
  </transition>
</template>

<script>
import { store, themeColor, color } from '@/mixins'

import Base from './Base'
import SectionsBar from '@c/sections/Bar'
import TasksList from '@c/tasks/List'

export default {
    extends: Base,
    components: { SectionsBar, TasksList },
    mixins: [
      store({
        getters: {
          tasks: 'tasks/list'
        }
      })
    ],
}
</script>
